@import "../../scss/mixins";

.topBlock {
  background: url(/src/img/TopBlock/back.png) right top / 50% 200% no-repeat;
  margin-top: -118px;
  &__content {
    padding: 169px 0 123px;
    display: flex;
    background: url(/src/img/TopBlock/person.png) right bottom / 25% no-repeat,
      url(/src/img/TopBlock/cube.png) right 200px center / 130px no-repeat;
    &.blog {
      background: url(/src/img/TopBlock/books.png) right 12% center / 30%
          no-repeat,
        url(/src/img/TopBlock/cube.png) right 200px center / 130px no-repeat;
    }
  }
  &__info {
    flex: 0 1 55%;
    & h1 {
      font-weight: 700;
      text-transform: uppercase;
      @include adaptive-value("font-size", 75, 30);
      @include adaptive-value("margin-bottom", 15, 10);
      @include line-height(95, 75);
    }
    & p {
      font-family: Rambla;
      @include adaptive-value("font-size", 25, 18);
      @include line-height(25, 18);
      margin-bottom: 25px;
      text-transform: capitalize;
    }
  }
  &__search {
    max-width: 406px;
    width: 100%;
    position: relative;
    & svg {
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
    & input {
      font-size: 16px;
      font-family: Karla;
      width: 100%;
      background-color: #f5f6f8;
      padding: 22px 15px 22px 42px;
    }
  }
}

@import "../../scss/media";
