@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Rambla:regular);
@import url(https://fonts.googleapis.com/css?family=Karla:regular,700);

@import "./scss/_normalize.scss";
@import "./scss/_mixins.scss";
@import "./scss/_media.scss";
@import "./scss/_vars.scss";

body.lock {
  overflow: hidden;
}

#root {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0px auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

.button-hover {
  transition: transform 0.5s ease 0s;
  &:hover {
    transform: translateY(-3px);
  }
}
